<p [ngStyle]="{color: getColor()}">
  Task number: {{tasks.length}}
</p>
<ul *ngIf="tasks.length > 0; else noTask">
  <li
    *ngFor="let task of tasks; let i = index"
    [ngClass]="tasks.length === 1 ? 'lastElement':i%2 == 0? 'evenElement':'oddElement'">
    {{task}}
    <button type="button" class="btn-sm btn-primary" (click)="selectTask(i)">Select</button>
    <button type="button" class="btn-sm btn-danger" (click)="deleteTask(i)">Delete</button>
    <button type="button" class="btn-sm btn-success" (click)="doneTask(i)">Done</button>
  </li>
</ul>


<ng-template #noTask>
  No current tasks!
</ng-template>
