<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Click bait app!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center">
      <app-klikacz1></app-klikacz1>
    </div>
    <div class="col-sm text-center">
      <!--<h3>Clicksum:<br/> {{sumOfClicks}}</h3>-->
      <h3>Clicksum:<br/> {{clickService.sumOfBaitClicks}}</h3>
    </div>
    <div class="col-sm text-center">
      <app-klikacz2></app-klikacz2>
    </div>
  </div>
</div>
